html,
body,
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container {
    position: absolute;
    z-index: +12;
}
#map {
    bottom: 0px;
    /*height: 100vh;*/
    /*width: 80%;*/
    
    position: absolute;
    right: 0px;
    z-index: +10;
}
h1 {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    font-family: helvetica;
    margin-right: 20px;
    position: absolute;
    margin-left: 70px;
    z-index: +4;
    width: 400px;
    margin-top: -5px;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -5px;
    margin-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: +7;
}
.container {
    display: inline-block;
    cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
    width: 23px;
    height: 4px;
    background-color: #4CAF50;
    margin: 6px 0;
    color: white;
    z-index: 200;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: +1;
    top: 0;
    left: -45;
    background-color: white;
    transition: 0.5s;
    margin-top: 45px;
}
.options-box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    height: 80%;
    line-height: 35px;
    padding: 10px 15px 0px 0px;
    text-align: left;
    width: 170px;
    position: absolute;
    z-index: 99;
    margin-top: 40px;
    margin-left: 20px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    padding-right: 15px;
    margin-left: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 405px) {
    .options-box {
        height: 60%;
        line-height: 20px;
        font-size: 9px;
        margin-top: 25px;
        width: 33%;
    }
    .hamburger {
        margin-top: -34px;
        position: absolute;
        margin-left: 4px;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 15px;
        height: 1px;
    }
    h1 {
        font-size: 10px;
        width: 200px;
        line-height: 17px;
        word-wrap: wrap;
        position: relative;
        margin-left: 43px;
        margin-top: -15px;
    }
    .listBox {
        padding-left: 18px;
    }
    .options-box {
        height: 50%;
        line-height: 16px;
        font-size: 10px;
        margin-top: 18px;
        width: 33%;
        margin-left: 4px;
        padding-right: 0px;
    }
    .dropbtn {
        font-size: 10px;
        padding-right: 1px;
        margin-left: 5px;
    }
}

@media only screen and (min-device-width: 406px) and (max-device-width: 480px) {
    .hamburger {
        margin-top: -40px;
        margin-left: 20px;
        padding-top: -20px;
        padding-bottom: 0px;
        z-index: +150;
        position: absolute;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 15px;
        height: 2px;
    }
    #map {
        bottom: 0px;        
        height: 100vh;
        position: absolute;
        left: 0px;
        right: 0px;
        z-index: +10;
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: +15;
        top: 0;
        left: -45;
        background-color: white;
        transition: 0.5s;
        margin-top: 60px;
    }
    span {
        position: fixed;
        z-index: +3;
    }

    h1 {
        font-size: 15px;
        width: 240px;
        line-height: 17px;
        word-wrap: wrap;
        position: relative;
        margin-left: 70px;
        margin-top: -10px;
    }
    .options-box {
        height: 50%;
        line-height: 20px;
        font-size: 12px;
        margin-top: 25px;
        width: 33%;
    }
    .dropbtn {
        font-size: 12px;
    }
    .options-box a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 8px;
        line-height: 5px;
        color: #818181;
        display: block;
        transition: 0.3s;
        word-wrap: wrap;
    }
    
}
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
    
    .hamburger {
        margin-top: -40px;
        margin-left: 20px;
        padding-top: -20px;
        padding-bottom: 0px;
        z-index: +150;
        position: absolute;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 20px;
        height: 2px;
    }
    #map {
        bottom: 0px;
        height: 100vh;
        position: absolute;
        left: 0px;
        right: 0px;
        z-index: +10;
    }
    .dropbtn {
        padding: 8px;
        font-size: 12px;
        margin-top: 5px;
        padding-right: 10px;
        margin-left: 10px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: +12;
        top: 0;
        left: -45;
        background-color: white;
        /*overflow-x: hidden;*/
        
        transition: 0.5s;
        margin-top: 80px;
    }
    h1 {
        font-size: 15px;
        width: 240px;
        line-height: 17px;
        word-wrap: wrap;
        position: relative;
        margin-left: 70px;
        margin-top: -10px;
    }
    .options-box {
        height: 60%;
        line-height: 25px;
        font-size: 15px;
        margin-top: 30px;
    }
    .options-box a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        line-height: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        word-wrap: wrap;
    }
}